{% extends 'core/home.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div style="margin-top: 150px;">
    <div class="container" >
        <div class="card" style="background-color: rgb(188, 192, 141);">
            <h1 style="color: green;"><i class="fa-solid fa-cart-shopping-fast"></i>SALES</h1>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-primary" >add</button>
            </form>
            
            <button type="submit" class="btn btn-dark"><a href="{% url 'home' %}">back</a></button>
  
        </div>
        
    </div>
</div>
{% endblock content %}